<div class="container-fluid container-padded">
<div class="row">
  <div class="col-md-12">
    <h2>Market Summary</h2>
    <p>
      Enter health insurance company information below to obtain key market and consumer insights. Results are powered by Nethermead's unique knowledge base specifically tailored to the healthcare industry.
    </p>
  </div>
</div>
</div>

<div id="company-search"></div>

<script type="text/javascript">
    $().ready(function() {
        $('#company-search').html(new window.CompanySearch().render().$el);
    });
</script>