<header>
  <div class="container-fluid container-padded">
      <div class="row">
        <div class="col-md-12">
          <h2>Market Summary: Results</h2>

          <p class="summary">See the Nethermead analysis snapshot below. The Nethermead platform will allow healthcare companies to conduct deeper analysis of these items, run simulations and forecasts and generate plans for execution.
          </p>
        </div>
      </div>
  </div>
</header>
<hr />
<div class="container-fluid container-padded">
  <div class="row">
    <div class="col-md-12 result-title">
    <h3 class="grey pull-left tall"><%= @result.company.name_proper %></h3>
    <div class="circle-sm pull-left"><div class="product-class-abbr"><%= @result.product_class.abbr %></div></div>
    <span class="stateface stateface-replace stateface-<%= @result.state.abbreviation %> green pull-left"></span>
    <a class="pull-right edit-search" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
  </div>
</div>
