// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #299b75;
$purple: #7e5a78;
$grey: #b2afa4;

.twitter-typeahead {
  width: 100%
}

.container-padded {
  padding-top: 16px;
  padding-bottom: 36px;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.states {
  text-align: center;
  margin-top: 15px;
}

.state-name {
  margin-bottom: 15px;
  font-size: 16px;
}


.states .stateface {
  font-size: 200px;
  line-height: 180px;
}

.states a {
}

.states a .stateface {
  color: $grey;
}

.states a .glyphicon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
}

.states a:hover .stateface {
  color: $purple;
  text-decoration: none;
}

.states a:hover {
  text-decoration: none;
}

.states a.selected .stateface {
  color: $green;
}

.states a.selected .glyphicon {
  color: #fff;
  display: inline;
}

.product-class-abbr {
  text-align: center;
  text-align: center;
  font-weight: 800;
  color: #fff;
}


.circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: $grey;

  .product-class-abbr {
    width: 75px;
    font-size: 20px;
    padding-top: 24px;
    letter-spacing: -1px;
  }
}


.circle-sm {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 10px;
  background: $green;

  .product-class-abbr {
    width: 50px;
    font-size: 16px;
    padding-top: 14px;
  }
}



.product-class-container a:hover {
  color: $purple;
  text-decoration: none;
}

.product-class-container.selected .circle {
  background: $green;
}

.product-class-container.selected .product-class-name {
  color: $green;
}

.product-class-container.selected .glyphicon {
  display: inline;
}

.product-class-container .glyphicon {
  display: none;
}

.product-classes-container {
  margin-top: 15px;
}

.product-class-name {
  font-size: 14px;
  text-align: center;
}

.product-class-name .glyphicon {
  font-size: 18px;
  line-height: 30px;
}

.search-result-button {
  display: inline-block;
  margin-top: 16px;
  padding: 14px 28px;
  font-size: 18px;
  line-height: 1.33;
  background: $green;
  border-radius: 1px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.result-title {
  .stateface {
    font-size: 60px;
    position: relative;
    margin-top: -14px;
  }

  h3 {
    margin-right: 10px;
  }

  a {
    font-size: 12px;
    margin-top: 16px;
  }
}