// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter-typeahead {
  width: 100%
}

.container-padded {
  padding-top: 16px;
  padding-bottom: 36px;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}