<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Shared Search Result from Nethermead</h1>
<p>
  <%= @message %>
</p>
<p>
  Please click here to see the search result <%= @url %>.<br/>
</p>
</body>
</html>